services:
  - type: web
    name: backend
    env: node
    plan: starter
    
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start
    
    envVars:
      - key: MONGO_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: NODE_ENV
        value: production
      - key: FRONTEND_URL
        sync: false
      - key: PORT
        value: 8000
    
    autoDeploy: true
    
    disk:
      name: uploads
      mountPath: /opt/render/project/backend/uploads
      sizeGB: 10